#header {
	z-index: 1;
	position: fixed;
	width: 97.5%;
	margin-top: -20px;
	height: 60px;
	color: #668284;
	text-align: center;
	margin-bottom: 10px;
}
#pic {

    margin: auto;
    width: "300";
    height: "700";
   }